body{
	background-color: #8c8c8c;
	font-family: 'Laila', serif;
}

#container{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#logo{
	color: white;
	background-color: #999;
	margin-top: 20px;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 3px;
	text-align: center;
	padding: 20px;
}

#menu{
	background-color: #808080;
	color: #fff;
}

#topbar{
	margin-top: 20px;
	margin-bottom: 25px;
	background-color: #128870;
	color: white;
	padding: 10px;
	height: 180px;
}

#topbarL{
	float: left;
	padding: 20px;
	width: 138px;
	text-align: center;
	border-right: 2px dotted #ccc;
}

#topbarR{
	float: left;
	padding: 20px;
	width: 760px;
	font-size: 16px;
	text-align: justify;
}

#sidebar{
	float: left;
	width: 198px;
	min-height: 770px;
	padding: 20px;
	background-color: #808080;
	color: #fff;
	text-align: center;
	font-size: 18px;
	border-right: 2px dotted #fff;
}

#content{
	float: left;
	padding: 40px;
	width: 680px;
	min-height: 730px;
	background-color: #808080;
	color: #fff;
	text-align: justify;
}

#footer{
	clear: both;
	color: white;
	text-align: center;
	padding: 20px;
	font size: 18px;
	background-color: #999;
}

.option{
	float: left;
	min-width: 50px;
	min-height: 33px;
	font-size: 18px;
	padding: 10px 20px;
	border-right: 2px dotted #fff;
	opacity: 0.7;
	transition-duration: 0.25s;
}

.option:first-child{
	border-left: 2px dotted #fff;
	margin-left: 70px;
}

.option:hover{
	cursor: pointer;
	font-size: 20px;
	background-color: #8c8c8c;
	opacity: 1;
}

.optionL{
	min-height: 33px;
	font-size: 18px;
	padding: 10px;
	border-bottom: 2px dotted #fff;
	opacity: 0.7;
	transition-duration: 0.25s;
}

.optionL:first-child{
	border-top: 2px dotted #fff;
	margin-top: 190px;
}

.optionL:hover{
	cursor: pointer;
	font-size: 20px;
	background-color: #8c8c8c;
	opacity: 1;
}

.bigtitle{
	font-size: 32px;
	font-weight: 700;
	letter-spacing: 2px;
}

.dottedline{
	height: 5px;
	margin-top: 15px;
	margin-bottom: 20px;
	border-bottom: 2px dotted #fff;
}