body{
	background-color: #8c8c8c;
	font-family: 'Laila', serif;
}

#container{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#logo{
	color: white;
	background-color: #999;
	margin-top: 20px;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 3px;
	text-align: center;
	padding: 20px;
}

#menu{
	background-color: #808080;
	color: #fff;
}

#topbar{
	margin-top: 20px;
	margin-bottom: 25px;
	background-color: #128870;
	color: white;
	padding: 10px;
	height: 180px;
}

#topbarL{
	float: left;
	padding: 20px;
	width: 138px;
	text-align: center;
	border-right: 2px dotted #ccc;
}

#topbarR{
	float: left;
	padding: 20px;
	width: 760px;
	font-size: 16px;
	text-align: justify;
}

#sidebar{
	
}

#content{
	
}

#footer{
	
}

.option{
	float: left;
	min-width: 50px;
	min-height: 33px;
	heigh: 25px;
	font-size: 18px;
	padding: 10px 20px;
	border-right: 2px dotted #fff;
	opacity: 0.7;
	transition-duration: 0.25s;
}

.option:first-child{
	backgroun-color: red;
}

.option:hover{
	cursor: pointer;
	font-size: 20px;
	background-color: #8c8c8c;
	opacity: 1;
}