body{
	background-color: gray;
}

#container{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#logo{
	color: white;
	martin-top: 20px;
	font-size: 30px;
	letter-spacing: 3px;
	text-align: center;
	padding: 20px;
}

#menu{
	
}

#topbar{
	
}

#sidebar{
	
}

#content{
	
}

#footer{
	
}